body {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    margin: 0;
    font-size: 16px;
    background: #D1D5D8;
}

* {
    box-sizing: border-box;
    outline: none;
}

.wrapper {
    width: 100%;
    max-width: 1024px;
    margin: 40px auto 0 auto;
    border-radius: 4px;
    box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.2);
}

header {
    background: #1C2931;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: 1px solid #2F363A;
}

h1 {
    font-size: 1em;
    text-transform: uppercase;
    padding: 2em;
    margin: 0;
}

h2 {
    font-size: 1em;
    padding: 1.5em 0em 1em 0em;
    margin: 0;
}

.content {
    background: #1E2C34;
    overflow: hidden;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.sidebar {
    float: left;
    padding: 0em 2em 2em 2em;
}

.table-input {
    width: 100%;
    height: 8em;
    border-radius: 4px;
    padding: 1em;
}

.delimiter-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.other-delimiter {
    margin-left: 2em;
    width: 2em;
    padding: 0.5em;
    border-radius: 4px;
    border: none;
    font-weight: bold;
}

.main {
    float: left;
}

.chart {
    padding: 0em 0em 2em 0em;
}